/* CSS */
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4;
    font-family: sans-serif;
}

.main-nav {
    background-color: #317073;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    padding-bottom: 10px;
    padding-left: 10px; 
    gap: 20px;
}

.main-nav a {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 4%;
    font-weight: lighter;

}

.main-nav .button-proffesionals {
    color: #000000;
}


.main-nav a:hover {
    text-decoration: underline;
}


.nav-links {
    display: flex;
    gap: 20px; 
    margin-left: 10px;
}


.nav-rechts {
    display: flex;
    gap: 20px; 
}


.nlvlag:hover {
    scale: 1.1;
}

.ukvlag:hover {
    scale: 1.1;
}

.zoekicon:hover {
    scale: 1.1;
}

.logoadconnect {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.sub-nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #317073;

}

.sub-nav img {
    padding-left: 15px;
    padding-right: 15px;

       @media (min-width: 1150px) {
        width: 300px;
        padding-left: 40px;
    }
}



.hamburgermenu {
    display: flex;
    justify-content: right;

       @media (min-width: 1150px) {
         display: none;
    }
}


.menu {
    display: none;
    padding-left: 100px;
    padding-right: 90px;
    padding-top: 10px;
    font-size: 18px;

       @media (min-width: 1150px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5em;
        list-style: none;
    }
}


.menu ul {
   display: none;
   text-decoration: none;

      @media (min-width: 1150px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5em;
        list-style: none;
    }
}

.menu a {
    @media (min-width: 1150px) {
        text-decoration: none;
        color: #000000;
    }
}

.menu a:hover {
    text-decoration: underline;
}


h1 {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;

      @media (min-width: 1150px) {
        font-size: 40px;
    }
}

h2 {
    text-align: center;
}

 #gekleurd-blok {
    background-color: rgba(208, 148, 130, 100); 
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;


    display: grid;
    justify-content: center;
    grid-template-rows: 1fr max-content;
    grid-template-columns: 1fr;

    @media (min-width: 690px) {
            grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-bottom: 25px;
   }

    @media (min-width: 1700px) {
        height: 340px;
    }

 }

.p-kleur {
    color: rgb(255, 255, 255);
    padding-top: 10px; 
    padding-right: 20px;
    padding-left: 20px;   
    padding-top: 5px; 

      @media (min-width: 1150px) {
        font-size: 18px;  
        margin-left: 40px;
        margin-top: 40px;
    }

        @media (min-width: 1000px) {
          padding-left: 90px;
          padding-right: 90px;
          padding-top: 25px;
          padding-bottom: 15px;
   }

}

.p-kleur2 {
    color: rgb(255, 255, 255);
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;

       @media (min-width: 1150px) {
         font-size: 18px;  
         font-size: 18px;  
         margin-top: 40px;
    }

        @media (min-width: 1000px) {
          padding-left: 90px;
          padding-right: 90px;
          padding-top: 25px;
          padding-bottom: 15px;
   }

}



.button-lees-meer { 
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 16pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*breedte van de knop*/
    padding-top: 8px; 
    padding-right: 25px; 
    padding-bottom: 8px; 
    padding-left: 20px;   
    /*witruimte linkerkant*/
    margin-bottom: 40px; 
    margin-left: 20px;  
    text-align: center;

    width: fit-content;
    justify-self: start;
    grid-column: 1/-1;
    height: fit-content;
    text-align: center;

    @media (min-width: 690px) {
        justify-self: center;
   }

}


.button-lees-meer:hover {
    background-color:#317073;
    color: white;
}

#drieknoppen {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    gap: 10px;

    @media (min-width: 690px) {
        display: flex;
        justify-content: center;
        padding: 7 90px;
   }


   @media (min-width: 1000px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
   }
}

.button-wat-is-een-ad {
    background-color: #317073;
    color:rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 16pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px; 
    padding-bottom: 10px; 

       @media (min-width: 1000px) {
        padding-left: 90px;
        padding-right: 90px;
   }
}



.button-wat-is-een-ad:hover{
    background-color: #5db2b7
}


.button-doorstroom {
    background-color: #D09482;
    color:rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 16pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px; 
    padding-bottom: 10px; 

        @media (min-width: 1000px) {
          padding-left: 90px;
          padding-right: 90px;
   }

}


.button-doorstroom:hover {
    background-color: #f3c2b3;
}


.button-ad-talent-award {
    background-color: #317073;
    color:rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 16pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px; 
    padding-bottom: 10px;


        @media (min-width: 1000px) {
          padding-left: 90px;
          padding-right: 90px;
   }
}


.button-ad-talent-award:hover {
    background-color:#5db2b7
}


.button-wat-is-een-ad {
    text-decoration: none;
}

.button-doorstroom {
    text-decoration: none;
}

.button-ad-talent-award {
    text-decoration: none;
}

#gekleurd-blok2 {
    background-color: #F4F0E5; 
    height: 530px;

      @media (min-width: 690px) {
        height: 350px;
    
    }
}

.vergaderingen {
    text-align:center;
    padding-top: 5px;

    @media (min-width: 690px) {
       display: grid;
       grid-template-columns: 1fr;
       justify-items: center;
       padding-top: 30px;
    }

         @media (min-width: 1300px) {
            display: grid; 
            grid-template-columns: 1fr 1fr; 
    }

}


.vergaderingen h2 {
     @media (min-width: 690px) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
}

.vergaderingen ul {
    margin: 0;
    padding-left: 0;
    text-align: center;

     @media (min-width: 690px) {
      grid-column: 1/2;
      grid-row: 1/2;
      padding-top: 80px;
    }
}


.vergaderingen li {
    list-style: none;
    text-align: center;   
}


.vergaderingen img {
    border-radius: 20px; 
    margin-top: 20px;   
       
    @media (min-width: 690px) {
      grid-column: 2/2;
      grid-row: 2/1;
      width: 300px;
      margin-right: 50px;
    }
}


.vergaderingen p {     
    
    @media (min-width: 690px) {
      grid-column: 2/2;
      grid-row: 2/2;
    }
}


.locatie {   
    text-decoration: none; 
    
    @media (min-width: 690px) {
      grid-column: 2/2;
      grid-row: 2/1;
      margin-right: 50px;
    }
}

.locatie :visited {
    color: #000000;
    text-decoration: none;
}

.locatie a {
    text-decoration: none;
}

.locatie :hover {
    text-decoration: underline;
}



#laatstenieuws {

    @media (min-width: 690px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.article-1 {
    border: 6px solid #D09482;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;

    @media (min-width: 1300px) {
        width: 500px;
        height: 170px;
        margin-left: 250px;

    }
}

.bold-text {
    font-weight: bold;
}


.article-1 p {
    text-align: center;

     @media (min-width: 1300px) {
        margin-bottom: 30px;
    }
}

.button-lees-meer-1 { 
    background-color: #317073;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 16pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* breedte van de knop */
    padding-top: 8px; 
    padding-right: 25px; 
    padding-bottom: 10px; 
    padding-left: 25px; 
    /*witruimte linkerkant*/
    margin-left: 120px;

     @media (min-width: 1300px) {
        margin-left: 175px;
    }
}

.button-lees-meer-1:hover{
    background-color:#5db2b7;
}


.article-2 {
    border: 6px solid #317073;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;

   @media (min-width: 1300px) {
        width: 500px;
        height: 170px;
        margin-left: 80px;
    }

}

.article-2 p {
    text-align: center;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;

         @media (min-width: 1300px) {
           margin-bottom: 30px;
           margin-top: 30px;
    }
}


.button-lees-meer-2 { 
    background-color: #D09482;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 16pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* breedte van de knop */
    padding-top: 8px; 
    padding-right: 25px; 
    padding-bottom: 10px; 
    padding-left: 25px; 
    /*witruimte linkerkant*/
    margin-left: 120px;

     @media (min-width: 1300px) {
        margin-left: 175px;
    }
}

.button-lees-meer-2:hover{
    background-color:#f3c2b3;
}

.article-3 {
    border: 6px solid #D09482;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;

    @media (min-width: 1300px) {
        width: 500px;
        height: 170px;
        margin-left: 250px;
    }
}

.article-3 p {
    text-align: center;

         @media (min-width: 1300px) {
        margin-bottom: 30px;
    }
}

.button-lees-meer-3 { 
    background-color: #317073;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 16pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* breedte van de knop */
    padding-top: 8px; 
    padding-right: 25px; 
    padding-bottom: 10px; 
    padding-left: 25px; 
    /*witruimte linkerkant*/
    margin-left: 120px;

     @media (min-width: 1300px) {
        margin-left: 175px;
    }
}

.button-lees-meer-3:hover{
    background-color:#5db2b7;
}


.article-4 {
    border: 6px solid #317073;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    padding-bottom: 20px;

   @media (min-width: 1300px) {
        width: 500px;
        height: 170px;
        margin-left: 80px;
    }

}

.article-4 p {
    text-align: center;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;

         @media (min-width: 1300px) {
           margin-bottom: 30px;
           margin-top: 30px;
    }
}


.button-lees-meer-4{ 
    background-color: #D09482;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 16pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* breedte van de knop */
    padding-top: 8px; 
    padding-right: 25px; 
    padding-bottom: 10px; 
    padding-left: 25px; 
    /*witruimte linkerkant*/
    margin-left: 120px;

     @media (min-width: 1300px) {
        margin-left: 175px;
    }
}

.button-lees-meer-4:hover{
    background-color:#f3c2b3;
}



.croppedlogo1 {
    display: flex;
    justify-content: right;
    margin-right: 40px;
    margin-bottom: 15px;
}

.croppedlogo2 {
    display: flex;
    margin-left: 40px;
    margin-bottom: 15px;
}


.croppedlogo3 {
    display: flex;
    justify-content: right;
    margin-right: 40px;
    margin-bottom: 15px;
}
  

.croppedlogo4 {
    display: flex;
    margin-left: 40px;
    margin-bottom: 15px;
}


.logoshogescholen {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.dagelijks-bestuur {
    padding-top: 10px;
}


.dagelijks-bestuur li {
    list-style: none;
}


.dagelijks-bestuur ul {
    margin: 0;
    padding-left: 0;
}


footer {
    background-color: #317073;
    color: #ffffff;
    height: 320px;
    padding-right: 20px;
    padding-left: 20px;

}


footer a {
    text-decoration: none;
    color: #ffffff;
}


footer li :hover {
    color: #ffffff;
    text-decoration: underline;
    color: #f3c2b3;

}

footer a :hover {
    text-decoration: underline;
}

.mail-link>:visited{
    text-decoration: underline;
    color: #f3c2b3;
}

.mail-link:hover {
    text-decoration: underline;
    color: #f3c2b3;

}

h3 {
    font-size: 16px;
    letter-spacing: 3px;
} 


