/* CSS */
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4;
    font-family: sans-serif;
}

.main-nav {
    background-color: #317073;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 1/-1;
    grid-row: 1;
}


.logoadconnect {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

}
.sub-nav {
    display: flex;
    border-bottom: 2px solid #317073;

}

.sub-nav img {
       @media (min-width: 1150px) {
        width: 300px;
        padding-left: 40px;
    }
}


.menu {
    padding-left: 500px;
    padding-top: 30px;
    font-size: 18px;

}


.menu ul {
   display: none;
   text-decoration: none;

      @media (min-width: 1150px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5em;
        /* justify-content: space-around; */
        list-style: none;
    }
}


h1 {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;

      @media (min-width: 1150px) {
        font-size: 40px;
    }
}

h2 {
    text-align: center;
    /* border-bottom: 2px solid #317073; */
}

 #gekleurd-blok {
    grid-template-columns: 1fr 1fr;
    background-color: #D09482;
    height: 545px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: 690px) {
        display: flex;
        gap: 30px;
        height: 340px;
        margin-bottom: 25px;
   }

    @media (min-width: 1700px) {
        height: 340px;
    }

 }

.p-kleur {
    color: rgb(255, 255, 255);
    padding-top: 10px; 
    padding-right: 20px;
    padding-left: 20px;   
    padding-top: 5px; 

      @media (min-width: 1150px) {
        padding-top: 40px; 
        padding-right: 60px;
        padding-left: 150px; 
        font-size: 18px;  

    }
}

.p-kleur2 {
    color: rgb(255, 255, 255);
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;

       @media (min-width: 1150px) {
         padding-top: 40px; 
         padding-right: 150px;
         padding-left: 60px; 
         font-size: 18px;  

    }
}



.button-lees-meer { 
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 16pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*breedte van de knop*/
    padding-top: 8px; 
    padding-right: 25px; 
    padding-bottom: 8px; 
    padding-left: 20px;   
    /*witruimte linkerkant*/
    margin-bottom: 40px; 
    margin-left: 20px;
    position: absolute;
    left: 20px;
    top: 88%;
    text-align: center;



    @media (min-width: 690px) {
        left: 250px;
        top: 57%;

   }


    /* @media (min-width: 810px) {
         margin-left: 20px;
         position: absolute;
         left: 300px;
         top: 45%;
         text-align: center;

   } */


}

.button-lees-meer:hover {
    background-color:#5db2b7;
}

#drieknoppen {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    gap: 10px;

    @media (min-width: 690px) {
        display: flex;
        justify-content: center;
        padding: 7 90px;
   }


   @media (min-width: 1000px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
   }
}

.button-wat-is-een-ad {
    background-color: #317073;
    color:rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 16pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px; 
    padding-bottom: 10px; 

       @media (min-width: 1000px) {
        padding-left: 90px;
        padding-right: 90px;
   }
}


.button-wat-is-een-ad:hover{
    background-color: #5db2b7
}


.button-doorstroom {
    background-color: #D09482;
    color:rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 16pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px; 
    padding-bottom: 10px; 

        @media (min-width: 1000px) {
          padding-left: 90px;
          padding-right: 90px;
   }

}


.button-doorstroom:hover {
    background-color: #f3c2b3;
}


.button-ad-talent-award {
    background-color: #317073;
    color:rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 16pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px; 
    padding-bottom: 10px;


        @media (min-width: 1000px) {
          padding-left: 90px;
          padding-right: 90px;
   }
}


.button-ad-talent-award:hover {
    background-color:#5db2b7
}


.button-wat-is-een-ad {
    text-decoration: none;
}

.button-doorstroom {
    text-decoration: none;
}

.button-ad-talent-award {
    text-decoration: none;
}

#gekleurd-blok2 {
    background-color: #F4F0E5;
    height: 530px;

      @media (min-width: 690px) {
        height: 350px;
    
    }
}

.vergaderingen {
    text-align:center;
    padding-top: 5px;

    @media (min-width: 690px) {
       display: grid;
       grid-template-columns: 1fr;
       justify-items: center;
       padding-top: 30px;
    }
}

.vergaderingen h2 {
     @media (min-width: 690px) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
}

.vergaderingen ul {
    margin: 0;
    padding-left: 0;
    text-align: center;

     @media (min-width: 690px) {
      grid-column: 1/2;
      grid-row: 1/2;
      padding-top: 80px;
    }
}

.vergaderingen li {
    list-style: none;
    text-align: center;   
}


.vergaderingen img {
    border-radius: 20px;    
       
    @media (min-width: 690px) {
      grid-column: 2/2;
      grid-row: 2/1;
      width: 300px;
      margin-right: 50px;
    }
}


.vergaderingen p {     
    
    @media (min-width: 690px) {
      grid-column: 2/2;
      grid-row: 2/2;
    }
}


.locatie {     
    
    @media (min-width: 690px) {
      grid-column: 2/2;
      grid-row: 2/1;
      margin-right: 50px;
    }
}












#laatstenieuws {

    @media (min-width: 690px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.article-1 {
    border: 6px solid #D09482;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

.bold-text {
    font-weight: bold;
}


.article-1 p {
    text-align: center;
}

.button-lees-meer-1 { 
    background-color: #317073;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 16pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* breedte van de knop */
    padding-top: 8px; 
    padding-right: 25px; 
    padding-bottom: 10px; 
    padding-left: 25px; 
    /*witruimte linkerkant*/
    margin-left: 90px;
}

.button-lees-meer-1:hover{
    background-color:#5db2b7;
}


.article-2 {
    border: 6px solid #317073;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

.article-2 p {
    text-align: center;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}


.button-lees-meer-2 { 
    background-color: #D09482;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 16pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* breedte van de knop */
    padding-top: 8px; 
    padding-right: 25px; 
    padding-bottom: 10px; 
    padding-left: 25px; 
    /*witruimte linkerkant*/
    margin-left: 90px;
}

.button-lees-meer-2:hover{
    background-color:#f3c2b3;
}

.article-3 {
    border: 6px solid #D09482;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

.article-3 p {
    text-align: center;
}

.button-lees-meer-3 { 
    background-color: #317073;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 16pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* breedte van de knop */
    padding-top: 8px; 
    padding-right: 25px; 
    padding-bottom: 10px; 
    padding-left: 25px; 
    /*witruimte linkerkant*/
    margin-left: 90px;
}

.button-lees-meer-3:hover{
    background-color:#5db2b7;
}


.article-4 {
    border: 6px solid #317073;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.article-4 p {
    text-align: center;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}


.button-lees-meer-4{ 
    background-color: #D09482;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 16pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* breedte van de knop */
    padding-top: 8px; 
    padding-right: 25px; 
    padding-bottom: 10px; 
    padding-left: 25px; 
    /*witruimte linkerkant*/
    margin-left: 90px;
}

.button-lees-meer-4:hover{
    background-color:#f3c2b3;
}



.croppedlogo1 {
    display: flex;
    justify-content: right;
    margin-right: 40px;
    margin-bottom: 15px;
}

.croppedlogo2 {
    display: flex;
    margin-left: 40px;
    margin-bottom: 15px;
}


.croppedlogo3 {
    display: flex;
    justify-content: right;
    margin-right: 40px;
    margin-bottom: 15px;
}
  

.croppedlogo4 {
    display: flex;
    margin-left: 40px;
    margin-bottom: 15px;
}


.logoshogescholen {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.dagelijks-bestuur {
    padding-top: 10px;
}


.dagelijks-bestuur li {
    list-style: none;
}


.dagelijks-bestuur ul {
    margin: 0;
    padding-left: 0;
}


footer {
    background-color: #317073;
    color: #ffffff;
    height: 320px;
    padding-right: 20px;
    padding-left: 20px;

}


footer a {
    text-decoration: none;
    color: #ffffff;
}


footer li :hover {
    color: #ffffff;
    text-decoration: underline;
    color: #f3c2b3;

}

footer a :hover {
    text-decoration: underline;
}

.mail-link>:visited{
    text-decoration: underline;
    color: #f3c2b3;
}

.mail-link:hover {
    text-decoration: underline;
    color: #f3c2b3;

}

h3 {
    font-size: 16px;
    letter-spacing: 3px;
} 
