/* CSS */
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4;
    font-family: sans-serif;
   }

.main-nav {
    background-color: #317073;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 1/-1;
    grid-row: 1;
}

.sub-nav {
    display: grid;
    border-bottom: 2px solid #317073;
}

h1 {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    text-align: center;
    /* border-bottom: 2px solid #317073; */
}

 #gekleurd-blok {
    background-color: #D09482;
    height: 545px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: 690px) {
        display: flex;
        gap: 30px;
        height: 285px;
        margin-bottom: 25px;
   }
 }

.p-kleur {
    color: rgb(255, 255, 255);
    padding-top: 10px; 
    padding-right: 20px;
    padding-left: 20px;   
    padding-top: 5px; 
}

.p-kleur2 {
    color: rgb(255, 255, 255);
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.button-lees-meer { 
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 12pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 150px;
    margin-bottom: 40px; 
    /*breedte van de knop*/
    padding-top: 8px; 
    padding-right: 25px; 
    padding-bottom: 8px; 
    padding-left: 25px; 
    /*witruimte linkerkant*/
    margin-left: 20px;


    @media (min-width: 690px) {
        display: flex;
        justify-content: center;
   }
}

.button-lees-meer:hover {
    background-color:#5db2b7;
}

#drieknoppen {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    gap: 10px;

    @media (min-width: 690px) {
        display: flex;
        justify-content: space-around;
        padding: 7 90px;
   }
}

.button-wat-is-een-ad {
    background-color: #317073;
    color:rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 12pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px; 
    padding-bottom: 10px; 
}


.button-wat-is-een-ad:hover{
    background-color: #5db2b7
}


.button-doorstroom {
    background-color: #D09482;
    color:rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 12pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px; 
    padding-bottom: 10px; 

}


.button-doorstroom:hover {
    background-color: #f3c2b3;
}


.button-ad-talent-award {
    background-color: #317073;
    color:rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 12pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px; 
    padding-bottom: 10px;
}


.button-ad-talent-award:hover {
    background-color:#5db2b7
}


.button-wat-is-een-ad {
    text-decoration: none;
}

.button-doorstroom {
    text-decoration: none;
}

.button-ad-talent-award {
    text-decoration: none;
}

#gekleurd-blok2 {
    background-color: #F4F0E5;
    height: 530px;
}

.vergaderingen {
    text-align:center;
    padding-top: 5px;

    @media (min-width: 690px) {
       display: grid;
       grid-template-columns: 1fr 1fr;
       justify-items: center;
       padding-top: 35px;
    }
}

.vergaderingen ul {
    margin: 0;
    padding-left: 0;
    text-align: center;
    
}

.vergaderingen li {
    list-style: none;
    text-align: center;
}


.vergaderingen img {
    border-radius: 20px;
    margin-top: 20px;
}


#laatstenieuws {

    @media (min-width: 690px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.article-1 {
    border: 6px solid #D09482;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.bold-text {
    font-weight: bold;
}


.article-1 p {
    text-align: center;
}

.button-lees-meer-1 { 
    background-color: #317073;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 12pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* breedte van de knop */
    padding-top: 8px; 
    padding-right: 25px; 
    padding-bottom: 17px; 
    padding-left: 25px; 
    /*witruimte linkerkant*/
    margin-left: 90px;
}

.button-lees-meer-1:hover{
    background-color:#5db2b7;
}


.article-2 {
    border: 6px solid #317073;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.article-2 p {
    text-align: center;
}


.button-lees-meer-2 { 
    background-color: #D09482;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 12pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* breedte van de knop */
    padding-top: 8px; 
    padding-right: 25px; 
    padding-bottom: 17px; 
    padding-left: 25px; 
    /*witruimte linkerkant*/
    margin-left: 90px;
}

.button-lees-meer-2:hover{
    background-color:#f3c2b3;
}

.article-3 {
    border: 6px solid #D09482;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.article-3 p {
    text-align: center;
}

.button-lees-meer-3 { 
    background-color: #317073;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 12pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* breedte van de knop */
    padding-top: 8px; 
    padding-right: 25px; 
    padding-bottom: 17px; 
    padding-left: 25px; 
    /*witruimte linkerkant*/
    margin-left: 90px;
}

.button-lees-meer-3:hover{
    background-color:#5db2b7;
}


.article-4 {
    border: 6px solid #317073;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
     margin-bottom: 50px;
}

.article-4 p {
    text-align: center;
}


.button-lees-meer-4{ 
    background-color: #D09482;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 12pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* breedte van de knop */
    padding-top: 8px; 
    padding-right: 25px; 
    padding-bottom: 17px; 
    padding-left: 25px; 
    /*witruimte linkerkant*/
    margin-left: 90px;
}

.button-lees-meer-4:hover{
    background-color:#f3c2b3;
}


.croppedlogo1 {
    display: flex;
    justify-content: right;
    margin-right: 40px;
    margin-bottom: 15px;
}

.croppedlogo2 {
    display: flex;
    margin-left: 40px;
    margin-bottom: 15px;
}


.croppedlogo3 {
    display: flex;
    justify-content: right;
    margin-right: 40px;
    margin-bottom: 15px;
}
  

.croppedlogo4 {
    display: flex;
    margin-left: 40px;
    margin-bottom: 15px;
}


.logoshogescholen {
    display: flex;
    justify-content: center;
}

.dagelijks-bestuur {
    padding-top: 10px;
}


.dagelijks-bestuur li {
    list-style: none;
}


.dagelijks-bestuur ul {
    margin: 0;
    padding-left: 0
}


footer {
    background-color: #317073;
    color: #ffffff;
    height: 320px;
}